NODE_ENV=development
AMPLIFY_ENV=development
DATABASE_URL=
COGNITO_ISSUER=
COGNITO_CLIENT_ID=
NEXT_PUBLIC_COGNITO_ISSUER=
NEXT_PUBLIC_COGNITO_CLIENT_ID=
COGNITO_ADMIN_SUBJECT=
COGNITO_ADMIN_EMAILS=
S3_SNAPSHOT_BUCKET=
S3_SNAPSHOT_KEY=public/content.json
SES_FROM_EMAIL=
SES_TO_EMAIL=
